body { 
    background: url("../images/barrel.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.gifDiv {
    display: inline-block;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

#newGif {
    width: 25vw;
    min-width: 300px;
    display: inline-block;
}

#submit {
    margin-top: -3px; /* per Alper, best way to fix for stupid bootstrap vertical alignment glitch */
}
